<!DOCTYPE html>
<html lang="en">
<head>
    <title>热点关注</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/focus/focus.css"/>
    <script type="text/javascript" src="/javascripts/webjs/focus/focus.js"></script>

</head>
<body class="focus-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/focus-pic') %>
<%- include('../../home/focus-subbody-content/focus-subbody') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>