<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">会员动态</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped bs-events-table">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>监管动态名</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <% member1dynamics.forEach(function (memdynamics) { %>
                    <tbody>
                    <tr>
                        <td><%= memdynamics.memday%>/<%= memdynamics.memmonth%></td>
                        <td><%= memdynamics.memtitle %></td>
                        <td>
                            <div class="item">
                                <a href="/admin/<%= memdynamics._id %>/memremove"><span class="glyphicon glyphicon-trash color"/> </a>
                                <a href="/admin/admin-dynamics/<%= memdynamics._id %>/admin-dynamics-memup" ><span class="glyphicon glyphicon-pencil"/> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
