<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">保监发</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped bs-events-table">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>监管动态名</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <% dmonitor1dynamics.forEach(function (monidynamics) { %>
                    <tbody>
                    <tr>
                        <td><%= monidynamics.dmoniday%>/<%= monidynamics.dmonimonth%></td>
                        <td><%= monidynamics.dmonititle %></td>
                        <td>
                            <div class="item">
                                <a href="/admin/<%= monidynamics._id %>/dmoniremove"><span class="glyphicon glyphicon-trash color"/> </a>
                                <a href="/admin/admin-dynamics/<%= monidynamics._id %>/admin-dynamics-moniup" ><span class="glyphicon glyphicon-pencil"/> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
