<head>
    <title>法律法规</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/law/law.css"/>
    <script type="text/javascript" src="/javascripts/webjs/law/law.js"></script>

</head>
<body class="law-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/law-pic') %>
<%- include('../../home/law-subbody-content/law-subbody-regulations') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>