<head>
    <title>规范性文件</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/law/law.css"/>
    <link rel="stylesheet" href="/stylesheets/law/law-document-content.css"/>
    <script type="text/javascript" src="/javascripts/webjs/law/law.js"></script>

</head>
<body class="law-body">
<%- include('../headercontent/public-header-nav') %>
<%- include('../nav/public-nav') %>

<div class="law-document-content">
    <h2>
        <center><strong><%= doclaw.doctitle %></strong></center>
    </h2>
    <hr class="law-document-line"/>
    <div><%- doclaw.docbio %></div>
</div>

<%- include('../footer/public-footer') %>
</body>
</html>