<head>
    <title>监管动态</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/dynamics/dynamics.css"/>
    <link rel="stylesheet" href="/stylesheets/dynamics/dynamics-members-content.css"/>
    <script type="text/javascript" src="/javascripts/webjs/dynamics/dynamics.js"></script>

</head>
<body class="dynamics-body">
<%- include('../headercontent/public-header-nav') %>
<%- include('../nav/public-nav') %>

<div class="dynamics-members-content">
    <h2>
        <center><strong><%= memdynamics.memtitle %></strong></center>
    </h2>
    <hr class="dynamics-members-line"/>
    <div><%- memdynamics.membio %></div>
</div>

<%- include('../footer/public-footer') %>
</body>
</html>