<head>
    <title>行业动态</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/dynamics/dynamics.css"/>
    <script type="text/javascript" src="/javascripts/webjs/dynamics/dynamics.js"></script>

</head>
<body class="dynamics-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/dynamics-pic') %>
<%- include('../../home/dynamics-subbody-content/dynamics-subbody') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>