<head>
    <title>自律规范</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/self-discipline/self-discipline.css"/>
    <script type="text/javascript" src="/javascripts/webjs/self-discipline/self-discipline.js"></script>

</head>
<body class="notice-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/self-discipline-pic') %>
<%- include('../../home/self-discipline-subbody-content/self-discipline-subbody') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>