<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">规范性文件</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped bs-events-table">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>规范性文件名</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <% document1law.forEach(function (doclaw) { %>
                    <tbody>
                    <tr>
                        <td><%= doclaw.docday%>/<%= doclaw.docmonth%></td>
                        <td><%= doclaw.doctitle %></td>
                        <td>
                            <div class="item">
                                <a href="/admin/<%= doclaw._id %>/docremove"><span class="glyphicon glyphicon-trash color"/> </a>
                                <a href="/admin/admin-law/<%= doclaw._id %>/admin-law-docup" ><span class="glyphicon glyphicon-pencil"/> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
