<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">法律法规</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped bs-events-table">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>法律法规名</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <% regulation1law.forEach(function (reglaw) { %>
                    <tbody>
                    <tr>
                        <td><%= reglaw.regday%>/<%= reglaw.regmonth%></td>
                        <td><%= reglaw.regtitle %></td>
                        <td>
                            <div class="item">
                                <a href="/admin/<%= reglaw._id %>/regremove"><span class="glyphicon glyphicon-trash color"/> </a>
                                <a href="/admin/admin-law/<%= reglaw._id %>/admin-law-regup" ><span class="glyphicon glyphicon-pencil"/> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
