<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省保险中介协会</title>
    <%- include('header/header') %>
    <link rel="stylesheet" href="/stylesheets/home.css"/>
    <script type="text/javascript" src='/javascripts/webjs/home.js'></script>
</head>
<body class="home-body">
<%- include('../home/headercontent/public-header-nav') %>
<%- include('../home/nav/public-nav') %>
<%- include('../home/carousel/home-carousel') %>
<div class="home-subbody">
    <div class="home-subbodya">
        <div class="home-subbodyl">
            <h2>
                <ul>
                    <li class="nowa">行业要闻</li>
                </ul>
            </h2>

            <ol>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4259.html" target="_blank"
                                                      title="保监会：加强互联网保险监管 打击非法集资行为">保监会：加强互联网保险监管 打击非法集资行为</a><img
                            src="./images/ld_firstnew.gif" width="18" height="12"
                            style="vertical-align:middle; padding-left:5px;"></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4260.html" target="_blank"
                                                      title="保险投资官问卷调查：今年投资前景比去年乐观">保险投资官问卷调查：今年投资前景比去年乐观</a></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4258.html" target="_blank"
                                                      title="新年险企已调研133家上市公司 投资收益降至5.66%">新年险企已调研133家上市公司
                        投资收益降至5.66%</a></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4257.html" target="_blank"
                                                      title="2016年保费收入增近三成 市场业务规模创新高">2016年保费收入增近三成 市场业务规模创新高</a></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4256.html" target="_blank"
                                                      title="保额增速快于业务增速 保险业未来发展强调含金量">保额增速快于业务增速 保险业未来发展强调含金量</a></li>

                <li><span><font>14</font>/02</span><a href="./xhgg/jgdt/201702/t20170214_4251.html" target="_blank"
                                                      title="2016年保险业持续快速发展 服务大局能力显著提升">2016年保险业持续快速发展 服务大局能力显著提升</a>
                </li>

            </ol>
        </div>
        <div class="home-subbodybr">
            <h2>
                <ul>
                    <li class="nowb">协会工作</li>
                </ul>
            </h2>
            <ol>

                <li><span><font>15</font>/02</span><a href="./xhgz/201702/t20170215_4253.html" target="_blank"
                                                      title="“第二届保险资产管理产品创新创意大赛”结果公布">“第二届保险资产管理产品创新创意大赛”结果公布</a></li>

                <li><span><font>15</font>/02</span><a href="./xhgz/201702/t20170215_4252.html" target="_blank"
                                                      title="中国保险资产管理业协会召开2016年度产品注册情况通报会暨保险资金支持实体经济座谈会">中国保险资产管理业协会召开2016年度产品注册情况通报会暨...</a>
                </li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4246.html" target="_blank"
                                                      title="“太平资产杯·IAMAC2016年度征文” 获奖名单揭晓">“太平资产杯·IAMAC2016年度征文”
                        获奖名单揭晓</a></li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4245.html" target="_blank"
                                                      title="“新总统、新政策影响下的全球经济”专题讲座在京举行">“新总统、新政策影响下的全球经济”专题讲座在京举行</a>
                </li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4244.html" target="_blank"
                                                      title="加快推进“险资入粤” 支持实体经济发展 ——广东召开2017年保险资金运用项目推介会">加快推进“险资入粤”
                        支持实体经济发展 ——广东召开2017...</a></li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4243.html" target="_blank"
                                                      title="陈文辉：坚持稳健审慎和服务主业从严从实加强保险资金运用监管">陈文辉：坚持稳健审慎和服务主业从严从实加强保险资金运用监管</a>
                </li>

            </ol>
        </div>
        <div class="clear"></div>
    </div>
    <div class="home-subbodya">
        <div class="home-subbodyl">
            <h2>
                <ul>
                    <li class="nowa">行业要闻</li>
                </ul>
            </h2>

            <ol>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4259.html" target="_blank"
                                                      title="保监会：加强互联网保险监管 打击非法集资行为">保监会：加强互联网保险监管 打击非法集资行为</a><img
                            src="./images/ld_firstnew.gif" width="18" height="12"
                            style="vertical-align:middle; padding-left:5px;"></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4260.html" target="_blank"
                                                      title="保险投资官问卷调查：今年投资前景比去年乐观">保险投资官问卷调查：今年投资前景比去年乐观</a></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4258.html" target="_blank"
                                                      title="新年险企已调研133家上市公司 投资收益降至5.66%">新年险企已调研133家上市公司
                        投资收益降至5.66%</a></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4257.html" target="_blank"
                                                      title="2016年保费收入增近三成 市场业务规模创新高">2016年保费收入增近三成 市场业务规模创新高</a></li>

                <li><span><font>16</font>/02</span><a href="./xxyj/hyxw/201702/t20170216_4256.html" target="_blank"
                                                      title="保额增速快于业务增速 保险业未来发展强调含金量">保额增速快于业务增速 保险业未来发展强调含金量</a></li>

                <li><span><font>14</font>/02</span><a href="./xhgg/jgdt/201702/t20170214_4251.html" target="_blank"
                                                      title="2016年保险业持续快速发展 服务大局能力显著提升">2016年保险业持续快速发展 服务大局能力显著提升</a>
                </li>

            </ol>
        </div>
        <div class="home-subbodybr">
            <h2>
                <ul>
                    <li class="nowb">协会工作</li>
                </ul>
            </h2>
            <ol>

                <li><span><font>15</font>/02</span><a href="./xhgz/201702/t20170215_4253.html" target="_blank"
                                                      title="“第二届保险资产管理产品创新创意大赛”结果公布">“第二届保险资产管理产品创新创意大赛”结果公布</a></li>

                <li><span><font>15</font>/02</span><a href="./xhgz/201702/t20170215_4252.html" target="_blank"
                                                      title="中国保险资产管理业协会召开2016年度产品注册情况通报会暨保险资金支持实体经济座谈会">中国保险资产管理业协会召开2016年度产品注册情况通报会暨...</a>
                </li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4246.html" target="_blank"
                                                      title="“太平资产杯·IAMAC2016年度征文” 获奖名单揭晓">“太平资产杯·IAMAC2016年度征文”
                        获奖名单揭晓</a></li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4245.html" target="_blank"
                                                      title="“新总统、新政策影响下的全球经济”专题讲座在京举行">“新总统、新政策影响下的全球经济”专题讲座在京举行</a>
                </li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4244.html" target="_blank"
                                                      title="加快推进“险资入粤” 支持实体经济发展 ——广东召开2017年保险资金运用项目推介会">加快推进“险资入粤”
                        支持实体经济发展 ——广东召开2017...</a></li>

                <li><span><font>13</font>/02</span><a href="./xhgz/201702/t20170213_4243.html" target="_blank"
                                                      title="陈文辉：坚持稳健审慎和服务主业从严从实加强保险资金运用监管">陈文辉：坚持稳健审慎和服务主业从严从实加强保险资金运用监管</a>
                </li>

            </ol>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="home-windows">
    <div class="home-windows-line">
        <img src="../images/line/line.gif " class="img-responsive "  />
    </div>
    <div class="home-windows-nav">
        <div class="home-windows-nava">
            <a href="/intro" target="_blank" style="text-decoration:none;">
                <img src="../images/quick-nav/nava-1.jpg" width="244" height="327">
                <h2>关于协会</h2>
            </a>
        </div>
        <div class="home-windows-navb">
            <div>
                <a style="text-decoration:none;" href="./education" target="_blank">
                    <img src="../images/quick-nav/navb-2.jpg " width="242" height="208">
                    <h2 style="padding-left:14px;width:242px;text-align:left; color:#FFFFFF; text-decoration:none;">
                        考试培训</h2>
                </a></div>
            <div class="home-windows-navbl">
                <a href="/law/law-regulations" target="_blank" style="text-decoration:none;">
                    <img src="../images/quick-nav/navb-3.jpg" width="116" height="109" style="margin-top:-10px">
                    <h2 style="color:#FFFFFF;">
                        法律法规</h2>
                </a></div>
            <div class="home-windows-navbr">
                <a href="./intro/intro-members" target="_blank" style="text-decoration:none;"><img
                            src="../images/quick-nav/navb-4.jpg" width="116" height="109" style="margin-top:-10px">
                    <h2 style="color:#fff;">
                        专业委员会</h2>
                </a></div>
            <div class="clear"></div>
        </div>
        <div class="home-windows-navc">
            <div class="home-windows-navcl">
                <a href="./self-discipline" target="_blank" style="text-decoration:none;"><img
                            src="../images/quick-nav/navc-5.jpg" width="116" height="208">
                    <h2 style="color:#FFFFFF;">
                        行业自律</h2>
                </a></div>
            <div class="home-windows-navcr">
                <a href="./members/members-notice" style="text-decoration:none;" target="_blank"><img src="../images/quick-nav/navc-6.jpg"
                                                                                        width="116" height="208">
                    <h2 style="color:#FFFFFF;">
                        入会须知</h2></a></div>
            <div class="clear"></div>
            <div>
                <a href="/dynamics/dynamics-monitor" target="_blank" style="text-decoration:none;"><img
                            src="../images/quick-nav/navc-7.jpg" width="242" height="109" style="margin-top:-10px">
                    <h2 style="color:#FFFFFF;">
                        监管动态</h2></a></div>
        </div>
        <div class="home-windows-navd">
            <div style="margin-bottom:10px;">
                <a href="./intro/intro-contact" target="_blank" style="text-decoration:none;"><img
                            src="../images/quick-nav/navd-8.jpg" width="242" height="109">
                    <h2 style="color:#FFFFFF;">
                        联系我们</h2></a></div>
            <div>
                <a href="./focus" target="_blank" style="text-decoration:none;"><img
                            src="../images/quick-nav/navd-9.jpg" width="242" height="208">
                    <h2 style="color:#FFFFFF;">
                        热点关注</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('../home/footer/public-footer') %>
</body>
</html>