<head>
    <title>入会须知附件</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/members/members.css"/>
    <link rel="stylesheet" href="/stylesheets/members/members-attachment.css"/>
    <script type="text/javascript" src="/javascripts/webjs/members/members.js"></script>

</head>
<body class="members-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/members-subbody-content/members-subbody-attachment') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>