<!DOCTYPE html>
<html lang="en">
<head>
    <title>协会总章</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/intro/intro.css"/>
    <link rel="stylesheet" href="/stylesheets/intro/intro-gchapter.css"/>
    <script type="text/javascript" src="/javascripts/webjs/intro/intro.js"></script>
    <script type="text/javascript" src="/javascripts/webjs/intro/intro-gcchapter.js"></script>
</head>
<body class="intro-chapter-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/intro-pic') %>
<%- include('../../home/intro-subbody-content/intro-subbody-gchapter') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>