<!DOCTYPE html>
<html lang="en">
<head>
    <title>联系我们</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/intro/intro.css"/>
    <link rel="stylesheet" href="/stylesheets/intro/intro-contact.css"/>
    <script type="text/javascript" src="/javascripts/webjs/intro/intro.js"></script>
    <!--引用百度地图API-->
    <style type="text/css">
        html,body{margin:0;padding:0;}
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>
<body class="intro-chapter-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/intro-pic') %>
<%- include('../../home/intro-subbody-content/intro-subbody-contact') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>