<!DOCTYPE html>
<html lang="en">
<head>
    <title>协会架构</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/intro/intro.css"/>
    <link rel="stylesheet" href="/stylesheets/intro/intro-organization.css"/>
    <script type="text/javascript" src="/javascripts/webjs/intro/intro.js"></script>
</head>
<body class="intro-orgazation-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/intro-pic') %>
<%- include('../../home/intro-subbody-content/intro-subbody-organization') %>
<%- include('../../home/footer/public-footer') %>

</body>
</html>