<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">协会发</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped bs-events-table">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>协会发名</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <% association1publish.forEach(function (associpublish) { %>
                    <tbody>
                    <tr>
                        <td><%= associpublish.associday%>/<%= associpublish.associmonth%></td>
                        <td><%= associpublish.assocititle %></td>
                        <td>
                            <div class="item">
                                <a href="/admin/<%= associpublish._id %>/associpremove"><span class="glyphicon glyphicon-trash color"/> </a>
                                <a href="/admin/admin-notice/<%= associpublish._id %>/admin-notice-associup" ><span class="glyphicon glyphicon-pencil"/> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
