<div class="admin-subbody">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">保监发</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped bs-events-table">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>协会发名</th>
                        <th>功能</th>
                    </tr>
                    </thead>
                    <% monitor1publish.forEach(function (monipublish) { %>
                    <tbody>
                    <tr>
                        <td><%= monipublish.moniday%>/<%= monipublish.monimonth%></td>
                        <td><%= monipublish.monititle %></td>
                        <td>
                            <div class="item">
                                <a href="/admin/<%= monipublish._id %>/remove"><span class="glyphicon glyphicon-trash color"/> </a>
                                <a href="/admin/admin-notice/<%= monipublish._id %>/admin-notice-moniup" ><span class="glyphicon glyphicon-pencil"/> </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</div>
