<head>
    <title>其他通告</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/notice/notice.css"/>
    <link rel="stylesheet" href="/stylesheets/notice/notice-monitor-content.css"/>
    <script type="text/javascript" src="/javascripts/webjs/notice/notice.js"></script>

</head>
<body class="notice-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>

<div class="notice-monitor-content">
    <h2>
        <center><strong><%= monipublish.monititle %></strong></center>
    </h2>
    <hr class="notice-monitor-line"/>
    <div><%- monipublish.monibio %></div>
</div>

<%- include('../../home/footer/public-footer') %>
</body>
</html>