<head>
    <title>我会通告</title>
    <%- include('../header/header') %>
    <link rel="stylesheet" href="/stylesheets/notice/notice.css"/>
    <link rel="stylesheet" href="/stylesheets/notice/notice-monitor.css"/>
    <script type="text/javascript" src="/javascripts/webjs/notice/notice.js"></script>

</head>
<body class="notice-body">
<%- include('../../home/headercontent/public-header-nav') %>
<%- include('../../home/nav/public-nav') %>
<%- include('../../home/pic/notice-pic') %>
<%- include('../../home/notice-subbody-content/notice-subbody-asscioation') %>
<%- include('../../home/footer/public-footer') %>
</body>
</html>